{{ attach_library('gin_frontend/work-item') }}

<article{{ attributes.addClass('work-item') }}>
  <header class="work-item__header">
    <h1 class="work-item__title">{{ label }}</h1>

    <div class="work-item__badges">
      {% if content.field_kunde is defined and content.field_kunde|render %}
        <span class="work-item__kunde">{{ content.field_kunde }}</span>
      {% endif %}
      {% if node.hasField('field_jahr') and node.field_jahr.value %}
        {% set jahr_value = node.field_jahr.value|date('Y') %}
        <span class="work-item__jahr">{{ jahr_value }}</span>
      {% endif %}
    </div>
  </header>

  {% set has_gallery = content.field_bilder is defined and content.field_bilder|render %}
  <div class="work-item__layout {{ has_gallery ? 'work-item__layout--has-gallery' : '' }}">
    <div class="work-item__content">
      {% if content.body is defined and content.body|render %}
        <div class="work-item__body">{{ content.body }}</div>
      {% endif %}

      {% if content.field_design is defined and content.field_design|render %}
        <div class="work-item__design">{{ content.field_design }}</div>
      {% endif %}

      {% if content.field_links is defined and content.field_links|render %}
        <div class="work-item__links">{{ content.field_links }}</div>
      {% endif %}

      {% if content.field_tags is defined and content.field_tags|render %}
        <div class="work-item__tags">{{ content.field_tags }}</div>
      {% endif %}
    </div>

    {% if has_gallery %}
      <aside class="work-item__aside">
        <div class="work-item__gallery">{{ content.field_bilder }}</div>
      </aside>
    {% endif %}
  </div>
</article>